<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="tab-link">Dashboard</a></li>
                <li><a href="{{ url_for('patients') }}" class="tab-link active">Patients</a></li>
                <li><a href="{{ url_for('doctors') }}" class="tab-link">Doctors</a></li>
                <li><a href="{{ url_for('staff') }}" class="tab-link">Staff</a></li>
                <li><a href="{{ url_for('hire') }}" class="tab-link">Hire</a></li>
                <li><a href="{{ url_for('schedule') }}" class="tab-link">Schedule</a></li>
                <li><a href="{{ url_for('resources') }}" class="tab-link">Resources</a></li>
                <li><a href="{{ url_for('finances') }}" class="tab-link">Finances</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
        <div class="content">
            <div id="patients" class="tab-content active">
                <h1>Patients</h1>
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Disease</th>
                            <th>Checked In</th>
                            <th>Medical History</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        <tr>
                            <td>{{ patient.first_name }}</td>
                            <td>{{ patient.last_name }}</td>
                            <td>{{ patient.disease }}</td>
                            <td>{{ patient.checked_in }}</td>
                            <td><a href="{{ url_for('medical_history', patient_id=patient.id) }}"><button type="submit">View History</button></a></td>
                            <td><a href="{{ url_for('release_patient', patient_id=patient.id) }}"><button type="submit">Release</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><br><br>
            <a href=" {{ url_for('register_patient') }} "><button type="submit" style="font-size: 14pt;">Register New Patient</button></a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
